@import url(../../node_modules/antd/dist/antd.dark.less);


//以上的less变量可以覆盖默认的antd样式，打包后将以css3变量的形式存在，全局生效

:root {
  --bg-color: @primary-color;
  --main-color: @primary-color;
  --main-color2: #fff;
  --main-bg: rgb(255, 255, 255);
  --logo-border-color: rebeccapurple;

  --header-height: 68px;
  --content-padding: 10px 20px;

  --base-line-height: 1.428571429;
  --transition-duration: 0.35s;
  --external-link: "external link";
  --margin-top: calc(2vh + 20px);
}
